.btn {
    --bs-btn-padding-x: 1.125rem;
    --bs-btn-padding-y: 0.75rem;
    height: 52px;

    &-inline-img {
        height: 20px;
        margin-right: 5px;
        display: inline-block;
        vertical-align: text-bottom;
    }
}

.btn-link {
    --bs-btn-color: var(--bs-secondary);
    --bs-btn-hover-color: var(--bs-gray-dark);
    --bs-btn-active-color: var(--bs-gray-dark);
    text-decoration: none;
    font-weight: 500;

    &:hover {
        text-decoration: underline;
    }
}

.btn-light {
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: rgb(83, 56, 158);
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: rgb(83, 56, 158);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-focus-shadow-rgb: 211, 212, 213;
    --bs-btn-active-color: var(--bs-white);
    --bs-btn-active-bg: rgb(83, 56, 158);
    --bs-btn-active-border-color: transparent;
    --bs-btn-active-shadow: none;
    border-width: 0px;
    background: rgb(83, 56, 158);
    background: linear-gradient(73deg, rgba(83, 56, 158, 1) 0%, rgba(127, 86, 217, 1) 100%);

    &:hover {
        background: linear-gradient(73deg, rgba(83, 56, 158, 1) 0%, rgba(83, 56, 158, 1) 100%);
    }
}

.btn-secondary {
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: var(--bs-green-900);
    --bs-btn-hover-border-color: var(--bs-green-900);
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: var(--bs-white);
    --bs-btn-active-bg: var(--bs-green-900);
    --bs-btn-active-border-color: var(--bs-green-900);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--bs-white);
    --bs-btn-disabled-bg: var(--bs-gray);
    --bs-btn-disabled-border-color: var(--bs-gray);
    --bs-btn-border-radius: 0;
    --bs-gradient: none;
    box-shadow: none;
    border: 0;
}

.btn-secondary-outline {
    --bs-btn-color: var(--bs-secondary);
    --bs-btn-bg: var(--bs-white);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: var(--bs-secondary);
    --bs-btn-hover-border-color: var(--bs-secondary);
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: var(--bs-white);
    --bs-btn-active-bg: var(--bs-secondary);
    --bs-btn-active-border-color: var(--bs-secondary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--bs-white);
    --bs-btn-disabled-bg: var(--bs-gray);
    --bs-btn-disabled-border-color: var(--bs-gray);
    --bs-btn-border-radius: 0;
    --bs-gradient: none;
    box-shadow: none;
}