:root {
    --bs-primary: #0C111D;
    --bs-secondary: #125D56;
    --bs-gray-dark: #1D2939;
    --bs-gray-300: #D0D5DD;
    --bs-light-green: #A6EF67;
    --bs-green-900: #115952;
    --gray-700: #404968;
    --bs-block: #000;
    --bs-heading-color: #000;
}