:root {
    --bs-primary: #0C111D;
    --bs-secondary: #125D56;
    --bs-gray-dark: #1D2939;
    --bs-gray-100: #EEF2F6;
    --bs-gray-200: #E3E8EF;
    --bs-gray-300: #D0D5DD;
    --bs-gray-500: #98A2B3;
    --bs-gray-700: #475467;
    --bs-gray-800: #333333;
    --bs-light-green: #A6EF67;
    --bs-green-900: #003c35;
    --gray-600: #667085;
    --gray-700: #404968;
    --gray-900: #101828;
    --bs-block: #000;
    --bs-heading-color: #000;
    --bs-link-color-rgb: #6941C6;
    --bs-link-hover-color-rgb: #5d3aad;
    --bs-blue: #004EEB;
    --bs-green-100: #669F2A;
    --bs-purple: #6938EF;
}

.black {
    color: var(--bs-block);
}

.gray {
    color: var(--gray-700);
}

.secondary {
    color: var(--bs-secondary);
}