@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=DM+Serif+Text&display=swap');

:root {
    --bs-font-sans-serif: 'DM Sans', sans-serif;
    --bs-font-seconary-serif: 'DM Serif Text', serif;
    --bs-nav-link-font-size: 0.875rem;
}