@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

:root {
    --bs-font-sans-serif: 'DM Sans', sans-serif;
    --bs-font-seconary-serif: 'DM Serif Display', serif;
    --bs-nav-link-font-size: 0.875rem;
    --bs-btn-border-radius: 0;
}

.sec-font {
    font-family: var(--bs-font-seconary-serif);
}