#bannerCarousel {
    .carousel-caption {
        left: 10%;
        right: 0;
        text-align: left;

        &-title {
            font-size: 2.5rem;
            font-weight: 700;
        }

        &-info {
            font-size: 1.5rem;
        }
    }
}