.experience-category {
    position: relative;
    height: 500px;
    overflow: hidden;

    &-video {
        position: relative;
        height: 100%;
        object-fit: cover;
    }

    &-data {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: var(--bs-white);
        padding: 30px 30px 45px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;

        &-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            gap: 10px;
        }
    }

    &-link {
        width: 86px;
        height: 86px;
        border-radius: 50%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-decoration: none;
        transition: all ease-in-out 0.1s;
        z-index: 2;

        &-circle {
            position: absolute;
            left: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &-text {
            width: 62px;
            height: 62px;
            position: relative;
            z-index: 1;
        }
    }

    .category-label {
        font-size: 1rem;
        font-weight: 500;
    }

    .category-title {
        font-family: var(--bs-font-seconary-serif);
        font-size: 2.25rem;
    }

    &:hover {
        .experience-category-link {
            border-width: 4px;
        }

        .experience-category-link-text {
            animation: rotation 10s infinite linear;
        }

        .icon-navigate {
            background-color: var(--bs-green);
            color: var(--bs-white);
            box-shadow: 0 0 30px 10px var(--bs-black);
        }
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}