.experience-categories {
    &-header {
        .maintitle {
            font-family: var(--bs-font-seconary-serif);
            font-size: 2.25rem;
            margin: 0;
        }

        .subtitle {
            font-size: 1.5rem;
            margin: 0;
        }

        &-data {
            color: var(--bs-primary);
        }
    }
}