.common-footer {
    background-color: var(--bs-primary);
}

.common-booking {
    gap: 20px;

    &-text {
        font-family: var(--bs-font-seconary-serif);
        color: var(--bs-light-green);
        font-size: 2.125em;
        letter-spacing: 0.5px;
        line-height: 1.25;
        max-width: 80%;

        @include media-breakpoint-down(md) {
            font-size: 1.75em;
        }
    }

    &-link {
        width: 36px;
        height: 36px;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        background: var(--bs-light-green);
        font-size: 1.25rem;
        color: var(--bs-primary);
    }
}

.footer-category {
    margin-bottom: 40px;

    &-title {
        color: var(--bs-white);
        font-size: 0.75rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        text-decoration: none;

        &-link:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .footer-link {
        font-size: 0.75rem;
        color: var(--bs-gray-300);
        text-decoration: none;
        margin-top: 7px;
        display: inline-block;

        &:hover {
            color: var(--bs-white);
            text-decoration: underline;
        }
    }
}

.media-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    margin-top: 15px;

    @include media-breakpoint-down(md) {
        justify-content: flex-start;
    }

    &-item {
        text-decoration: none;
        background: var(--bs-gray-dark);
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--bs-white);
        padding: 0 10px 0 11px;
        transition: all ease-in-out 0.35s;

        &:hover {
            background: var(--bs-gray-100);
            color: var(--bs-gray-dark);
        }
    }
}

.footer-bottom {
    &-header {
        position: relative;

        &-title {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            color: var(--bs-white);
            font-size: 0.75rem;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            text-decoration: none;
            padding-right: 10px;
            background-color: var(--bs-primary);
        }
    }

    &-info {
        margin-left: auto;
        padding: 20px 0 15px;

        @include media-breakpoint-down(md) {
            margin-left: 0;
        }

        &-label {
            font-size: 0.75rem;
            color: var(--bs-gray-300);
        }

        &-value {
            color: var(--bs-white);
            font-size: 0.75rem;
            margin-bottom: 0;
        }

        .dot {
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 25px;
            vertical-align: baseline;
            margin-right: 8px;

            &-green {
                background: var(--bs-light-green);
            }
        }
    }
}