.common-header {
    height: 112px;

    @include media-breakpoint-down(md) {
        height: 62px;
    }
}

.navbar-brand {
    max-width: 140px;
}

.navbar {
    --bs-navbar-active-color: var(--bs-white);
    --bs-navbar-nav-link-padding-x: 12px;
    --bs-navbar-padding-y: 34px;

    @include media-breakpoint-down(md) {
        --bs-navbar-padding-y: 8px;
    }

    .navbar-nav {
        --bs-nav-link-padding-x: 12px;
    }

    .nav-link {
        font-weight: 500;
        color: var(--bs-primary);

        .icon-cart {
            font-size: 1.25rem;
        }

        &:not(.not-text) {

            &.active,
            &:hover {
                background-color: var(--bs-primary);
                color: var(--bs-white);
            }
        }

        &.not-text {
            position: relative;

            .cart-notch {
                position: absolute;
                left: 24px;
                top: 5px;
                width: 12px;
                height: 12px;
                background-color: var(--bs-secondary);
                border-radius: 50%;
                border: 2px solid var(--bs-white);
            }

            &:hover {
                color: var(--bs-secondary);
            }
        }
    }

    .btn-close-white {
        filter: none;
    }

    &-toggler {
        padding: 0;
    }

}

.navbar-toggler {
    border-width: 0px;

    &:focus,
    &:hover {
        outline: none;
        box-shadow: none;
    }
}

.profile-dropdown {

    &-toggle {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0 5px 0 15px;

        &:after {
            display: none;
        }
    }

    &-prefix {
        color: var(--bs-white);
        width: 36px;
        height: 36px;
        font-size: 0.875em;
        display: inline-grid;
        align-content: center;
        justify-content: center;

        &.profile-member {
            background: rgb(71, 84, 103);
            background: linear-gradient(73deg, rgba(71, 84, 103, 1) 0%, rgba(102, 112, 133, 1) 100%);
        }

        &.profile-influencer {
            background: rgb(127, 86, 217);
            background: linear-gradient(73deg, rgba(127, 86, 217, 1) 0%, rgba(158, 119, 237, 1) 100%);
        }
    }

    &-menu {
        background-color: var(--bs-gray-100);
        border-color: var(--bs-secondary);
        padding: 5px 15px 5px;
        font-size: 0.875em;
        box-shadow: none;

        .profile-status {
            text-align: right;
            color: var(--bs-purple);
            margin: 0;
            padding: 3px 0 7px;
            font-size: 0.75em;
            font-weight: 500;
        }

        .dropdown-item {
            padding: 12px 45px 12px 0;
            position: relative;
            color: var(--bs-primary);

            .icon-chevron-right {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }

            &:not(:first-child) {
                border-top: 1px solid var(--bs-gray-300);
            }

            &:hover,
            &:focus {
                background-color: transparent;
                color: var(--bs-secondary);
            }
        }
    }

    &-name {
        color: var(--bs-secondary);

        &:hover {
            color: var(--bs-black);
        }
    }
}