@import "./header";
@import "./main";
@import "./footer";
@import "./category";
@import "./details";
@import "./login";
@import "./cart";
@import "./influencer";
@import "./earning";
@import "./experience";